<div class="container-fluid">
  <div class="row">
    <% if( _.size(lesson) > 0){ %>
      <h2 class="demo-text">Редактирование урока: "<%= _.size(lesson) > 0?lesson.title:""%>"</h2>
    <%}else{%>
      <h2 class="demo-text">Добавление нового урока</h2>
    <%}%>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 nopadding">
          <form class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <label for="inpuTitle" class="col-lg-2 control-label">Title</label>
                <div class="col-lg-10">
                  <input type="text" name="title" class="form-control" id="inpuTitle" value="<%= _.size(lesson) > 0?lesson.title:"" %>" placeholder="Title">
                </div>
              </div>
              <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Textarea</label>
                <div class="col-lg-10">
                  <textarea class="form-control" id="txtEditor" name="content" value=""></textarea>
                  <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="reset" class="btn btn-default">Cancel</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
          <ul class="pager">
            <li class="previous"><a href="/admin/lessons/list">&larr; Вернуться к списку</a></li>
            <!--
              <li class="next"><a href="#">Newer &rarr;</a></li>
            -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<script>

  $(document).ready(function() {
    $("#txtEditor").Editor();

    var url = '/lessons/create'
    <% if( _.size(lesson) > 0){ %>
      $('.Editor-editor').html('<%- lesson.content %>');
      url = '/lessons/' + <%= lesson.id %>
    <% }%>
    $('.form-horizontal').submit(function () {
      $(this).find('#txtEditor').val($('.Editor-editor').html());
      $.ajax({
        type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
        url         : url, // the url where we want to POST
        data        : $(this).serialize(), // our data object
        success     : function (data) {
          alert('success');
        }
      });

      return false;
    })

  });
</script>
